<script src="home.page.ts"></script>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recipe App
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- List of Text Items -->

  <ng-container *ngFor="let recipe of recipesNames;index as i">
    <ion-button class="ios" expand="block" [routerLink]="['/card', recipe['id']]">{{recipe['dish_name']}}</ion-button>
  </ng-container>

  <a [routerLink]="['/card', '1']">Card </a>
</ion-content>

<ion-footer>
  <ion-label>soni.jay008@gmail.com</ion-label>
</ion-footer>
